<div class="align-items-center p-2 my-3 text-dark-50 bg-light rounded shadow-sm">
  <div class="container-fluid">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@Mario</strong>
          Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
        </p>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@Yoshi</strong>
          Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
        </p>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@Star</strong>
          Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
        </p>
      </div>
  
      <small class="d-block text-right mt-3">
        <a href="#">All updates</a>
      </small>
    </div>
  </div>
</div>

<div class="align-items-center p-2 my-2 text-dark-50 bg-light rounded shadow-sm">
  <div class="container-fluid">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Totoro Land</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@Totoro</span>
        </div>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Pikachu Mochi</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@Pikachu</span>
        </div>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Squirtle Roll</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@Squirtle</span>
        </div>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Charmander Fire</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@Charmander</span>
        </div>
      </div>
  
      <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Growlithe Shine</strong>
            <a href="#">Follow</a>
          </div>
          <span class="d-block">@Growlithe</span>
        </div>
      </div>
  
      <small class="d-block text-right mt-3">
        <a href="#">All suggestions</a>
      </small>
    </div>
  </div>
</div>