<nav class="navbar navbar-expand-lg d-flex align-items-center p-2 text-dark-50 bg-light rounded shadow-sm">
  <div class="navbar-brand logo-word">
    <img src="/assets/img/_ionicons_svg_ios-rocket.svg" width="30" height="30" class="d-inline-block align-top" alt="???">
    <strong><i>funInno</i></strong>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-template [ngIf]="isAuth()">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/notification">
              <!-- Notification -->
              <img src="/assets/img/_ionicons_svg_md-notifications.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              <span class="badge badge-pill badge-danger">3</span>
            </a>
          </li>
        </ng-template>
      </ul>

      <form class="form-inline">
        <ng-template [ngIf]="isAuth()">
          <!-- Search Bar -->
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <img src="/assets/img/_ionicons_svg_md-search.svg" width="24" height="24" class="d-inline-block align-top" alt="???">
          </button>
        </ng-template>
      </form>

      <ul class="navbar-nav">
        <ng-template [ngIf]="!isAuth()">
          <li class="nav-item" routerLinkActive="active">
            <!-- Sign Up -->
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/signin">
              <img src="/assets/img/_ionicons_svg_md-log-in.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              Login
            </a>
          </li>
        </ng-template>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" appDropdown *ngIf="isAuth()">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
            <!-- Profile -->
            <img src="/assets/img/_ionicons_svg_md-contact.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item">
              <img src="/assets/img/_ionicons_svg_md-contact.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              @Mushroom
            </div>
            <hr>
            <a class="dropdown-item" routerLink="/profile">
              <img src="/assets/img/_ionicons_svg_md-person.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              Profile
            </a>
            <a class="dropdown-item" routerLink="/settings">
              <img src="/assets/img/_ionicons_svg_md-settings.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              Settings
            </a>
            <a class="dropdown-item" (click)="onLogout()">
              <img src="/assets/img/_ionicons_svg_md-log-out.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
              Logout
            </a>
          </div>
        </li>
      </ul>
  </div>
</nav>
