<div class="align-items-center p-4 my-3 text-dark-50 bg-light rounded shadow-sm">
  <div class="row">
    <div class="col-lg-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 border-bottom">
        <div>
          <h4>Recent</h4>
        </div>
        <a class="nav-link">
          <img width="32" src="/assets/img/_ionicons_svg_md-person-add.svg" alt="???">
        </a>
      </div>

      <nav class="navbar-light">
        <ul class="nav flex-column">
          <li class="nav-item active border-bottom rounded">
            <a class="nav-link">
              <img src="/assets/img/_ionicons_svg_md-contact.svg" width="32" height="32" class="d-inline-block align-top" alt="???">
              <div class="d-flex justify-content-between">
                @Mario
                <span>Dec 25</span>
              </div>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link border-bottom rounded">
              <img src="/assets/img/_ionicons_svg_md-contact.svg" width="32" height="32" class="d-inline-block align-top" alt="???">
              <div class="d-flex justify-content-between">
                @Star
                <span>Dec 26</span>
              </div>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link border-bottom rounded">
              <img src="/assets/img/_ionicons_svg_md-contact.svg" width="32" height="32" class="d-inline-block align-top" alt="???">
              <div class="d-flex justify-content-between">
                @Yoshi
                <span>Dec 19</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-lg-8 bg-white p-3">
      <div class="msg_history border-bottom p-3 my-3">
        <div class="incoming_msg d-flex justify-content-start">
          <div class="incoming_msg_img">
            <img width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
          </div>

          <div class="received_msg align-items-center p-3 ml-2 text-dark-50 bg-light rounded shadow-sm">
            <div class="received_withd_msg">
              <p>
                Hey, how is your new idea<br>going?
              </p>
              <span class="time-span-text">June 9</span>
            </div>
          </div>
        </div>

        <div class="outgoing_msg d-flex justify-content-end">
          <div class="sent_msg align-items-center p-3 ml-2 my-5 text-dark-50 bg-light rounded shadow-sm">
            <p>
              It going well so far and maybe<br>require more time to process.
            </p>
            <span class="time-span-text"> June 9</span> </div>
        </div>

        <div class="incoming_msg d-flex justify-content-start">
          <div class="incoming_msg_img">
            <img width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
          </div>

          <div class="received_msg align-items-center p-3 ml-2 text-dark-50 bg-light rounded shadow-sm">
            <div class="received_withd_msg">
              <p>
                Brilliant I am looking forward<br>here about it.
                Share we catch<br>sometime next week.
              </p>
              <span class="time-span-text">Yesterday</span></div>
          </div>
        </div>

        <div class="outgoing_msg d-flex justify-content-end">
          <div class="sent_msg align-items-center p-3 ml-2 my-5 text-dark-50 bg-light rounded shadow-sm">
            <p>
              Sure, do you have anymore people<br>who is interested in my idea?
            </p>
            <span class="time-span-text">1 hour ago</span> </div>
        </div>

        <div class="incoming_msg d-flex justify-content-start">
          <div class="incoming_msg_img">
            <img width="32" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
          </div>

          <div class="received_msg align-items-center p-3 ml-2 text-dark-50 bg-light rounded shadow-sm">
            <div class="received_withd_msg">
              <p>
                Yes, we have quite people who<br>interest in your current idea.
                I<br>propose that we meetup at the<br>plaza cafe to give a demo.
              </p>
              <span class="time-span-text"> 10 min ago</span></div>
          </div>
        </div>
      </div>
      
      <form class="form-inline">
        <textarea class="form-control mb-3 mr-sm-2" placeholder="Type a message..." rows="4" cols="40"></textarea>
        <button class="btn btn-outline-primary d-flex align-self-start" type="submit">
          <img width="32" src="/assets/img/_ionicons_svg_ios-send.svg" alt="???">
        </button>
      </form>
    </div>
  </div>
</div>