<app-header class="header" id="mainHeader" *ngIf="isAuth(); else nonFreezeHeader"></app-header>

<ng-template #nonFreezeHeader>
  <app-header></app-header>
</ng-template>

<div class="container" *ngIf="isAuth(); else signInContent">
  <div class="row">
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>

<ng-template #signInContent>
  <div class="container-12 row-bg">
      <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
      </div>
  </div>
</ng-template>