

<!-- <div class="container-fluid d-flex justify-content-center align-items-center"> -->
<div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-lg-3"> -->
      <!-- <app-login></app-login> -->
      <!-- <app-signup></app-signup> -->
      <!-- <app-notification></app-notification> -->
      <!-- <app-sidebar></app-sidebar> -->
    <!-- </div> -->
    <!-- <div class="col-lg-8"> -->
      <!-- <app-login></app-login> -->
      <!-- <app-signup></app-signup> -->
      <!-- <app-notification></app-notification> -->
      <!-- <app-home></app-home> -->
    <!-- </div> -->
    <div class="col-lg-12">
        <app-home></app-home>
        <!-- <app-login></app-login> -->
        <!-- <app-signup></app-signup> -->
    </div>
  </div>
</div>

<!-- <app-login></app-login> -->