<nav class="navbar-light align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
  <ul class="nav flex-column">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link nav-link-text" routerLink="/home">
        <img src="/assets/img/_ionicons_svg_md-home.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
        Home
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link nav-link-text" routerLink="/email">
        <img src="/assets/img/_ionicons_svg_md-mail.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
        Email
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link nav-link-text" routerLink="/chat">
        <img src="/assets/img/_ionicons_svg_md-chatboxes.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
        Chat
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link nav-link-text" routerLink="/analytic">
        <img src="/assets/img/_ionicons_svg_md-analytics.svg" width="25" height="25" class="d-inline-block align-top" alt="???">
        Dashboard
      </a>
    </li>
  </ul>
</nav>
