<div class="align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm"> 
    <div class="col-lg-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-2 border-bottom">
            <h3>Inbox</h3>

            <form class="form-inline mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-primary mr-sm-2">Compose</button>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                <img src="/assets/img/_ionicons_svg_md-search.svg" width="24" height="24" class="d-inline-block align-top" alt="???">
            </button>
            </form>
        </div>

        <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2">
            <div class="form-check" style="top: 6px;left: 11px;">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                All
                </label>
            </div>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary">
                    <img src="/assets/img/_ionicons_svg_md-trash.svg" width="24" height="24" class="d-inline-block align-top" alt="???">
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <img src="/assets/img/_ionicons_svg_md-arrow-round-forward.svg" width="20" height="20" class="d-inline-block align-content-center mb-1" alt="???">
                    <img src="/assets/img/_ionicons_svg_md-folder.svg" width="24" height="24" class="d-inline-block align-top" alt="???">
                </button>
                <button type="button" class="btn btn-outline-primary">
                        <img src="/assets/img/_ionicons_svg_md-more.svg" width="24" height="24" class="d-inline-block align-top" alt="???">
                </button>
            </div>

            <div class="form-row" style="top: 6px">
                <label class="col-form-label">
                    1-50 of 234
                </label>
            </div>
        </div>
            
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Yoshi</td>
                <td>Crafting class seesion coming soon!</td>
                <td class="text-right">9:27 AM</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Google</td>
                <td>Recent Update!</td>
                <td class="text-right">June 20</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Star</td>
                <td>Time for a meetup!</td>
                <td class="text-right">June 15</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Mario</td>
                <td>Hey!</td>
                <td class="text-right">June 01</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Charmander</td>
                <td>Hello World!</td>
                <td class="text-right">May 25</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Facebook</td>
                <td>Someone send you a message!</td>
                <td class="text-right">May 20</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Angular</td>
                <td>Welcome to the community!</td>
                <td class="text-right">May 16</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Mario</td>
                <td>Let Play Mario game!</td>
                <td class="text-right">May 10</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Yoshi</td>
                <td>Project Support Meeting!</td>
                <td class="text-right">May 05</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>YouTube</td>
                <td>Recent Update!</td>
                <td class="text-right">May 03</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Star</td>
                <td>Cloud Technology Session!</td>
                <td class="text-right">April 28</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Yoshi</td>
                <td>Join us at the at the Plaza cafe!</td>
                <td class="text-right">April 22</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Twitter</td>
                <td>Welcome to the community!</td>
                <td class="text-right">April 18</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Mario</td>
                <td>Let Play Mario game!</td>
                <td class="text-right">April 11</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Yoshi</td>
                <td>Project Support Meeting!</td>
                <td class="text-right">April 04</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>YouTube</td>
                <td>Recent Update!</td>
                <td class="text-right">March 26</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Star</td>
                <td>Lunch Talk Session!</td>
                <td class="text-right">March 21</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Yoshi</td>
                <td>Join us at cafe!</td>
                <td class="text-right">March 16</td>
            </tr>
            </tbody>
        </table>
        </div>

        <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>

            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        </nav>
    </div>
</div>