<div class="align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
  <div class="flex-wrap flex-md-nowrap pt-4 pb-2 mb-2">
    <div class="row pb-4">
      <div class="col-lg-2 ml-1 mr-5 d-flex align-items-start flex-column">
        <img class="rounded-circle" width="150" height="150" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
      </div>

      <div class="col-lg-5 d-flex align-items-start flex-column pt-3">
        <h4>Mushroom Kingdom</h4>
        <h4>@Mushroom</h4>
      </div>

      <div class="col-lg-4 d-flex align-items-start flex-column pt-3">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Follow</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>IDEAS</h6>
        <h4>20</h4>
      </div>

      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>FOLLOWING</h6>
        <h4>220</h4>
      </div>

      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>FOLLOWERS</h6>
        <h4>110</h4>
      </div>
    </div>
  </div>  
</div>

<div class="align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
  <div class="flex-wrap flex-md-nowrap pt-4 pb-2 mb-2">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>SKILLS</h6>
        <p>C#, Python, Java, Window 10, HTML5, Microsoft Office</p>
      </div>

      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>BIO</h6>
        <p>I have 10 years of experience with software development and working on various large scale project.</p>
      </div>

      <div class="col-lg-4 d-flex align-items-start flex-column">
        <h6>HOBBIES</h6>
        <p>Traveling, Camping, Fishing and Cycling.</p>
      </div>
    </div>
  </div>
</div>
