a:hover {
    color: dodgerblue !important;
    background-color: rgb(233, 233, 233);
}

a {
  color: black !important;
}

.active {
    background-color: lightskyblue !important;
}

.row-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('./assets/img/bg-001.jpg');
    background-blend-mode: soft-light;
    background-color:rgba(255, 255, 255, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
