<div class="align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">

    <div class="card gedf-card">
        <div class="card-header">
            <h1 class="h2">Highlight</h1>
        </div>

        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                    <img src="/assets/img/highlight_001.jpg" class="d-block w-100" alt="???">
                </div>

                <div class="carousel-item" data-interval="2000">
                    <img src="/assets/img/highlight_002.jpg" class="d-block w-100" alt="???">
                </div>

                <div class="carousel-item">
                    <img src="/assets/img/highlight_003.jpg" class="d-block w-100" alt="???">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>



    <div class="card gedf-card">
        <div class="card-header">Post</div>

        <div class="card-body">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Upload image</label>
                </div>
            </div>

            <img class="rounded-circle" width="45" src="/assets/img/_ionicons_svg_md-image.svg" alt="???" style="opacity: 0.6">
            <hr>

            <div class="form-group">
                <label class="sr-only" for="message">post</label>
                <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Project Type</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Craft</option>
                    <option>Desktop App</option>
                    <option>Gadget</option>
                    <option>Mobile App</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
    </div>



    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" height="45" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@Mario</div>
                    <div class="h7 text-muted">Mario Land</div>
                </div>
            </div>
            <span class="badge badge-primary only-right">Craft</span>
        </div>
      </div>

      <div class="card-body">
        <a class="card-link" href="#">
            <h5 class="card-title">Cool Craft</h5>
        </a>

        <p class="card-text">
            Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
        </p>

        <img class="card-img-top rounded-bottom img-responsive" src="/assets/img/no_photo_idea.png" style="max-width: 500px;" alt="???">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>

        <div>
            <span class="mr-3">
                <img src="/assets/img/rating-poor.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">5</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-soso.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">10</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-good.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">21</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-great.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">16</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-wow.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">7</span>
            </span>
        </div>
      </div>

      <div class="card-footer d-flex">
        <a class="d-flex align-items-center mr-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/img/_ionicons_svg_md-happy.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            <img src="/assets/img/right-arrow.png" width="14" height="14" class="d-inline-block align-top" alt="???">
        </a>

        <div class="collapse width mr-3" id="collapseExample">
            <div class="d-inline-block" style="width:290px;">
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-poor.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-soso.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-good.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-great.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary">
                    <img src="/assets/img/rating-wow.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
            </div>
        </div>

        <a class="card-link">
            <img src="/assets/img/_ionicons_svg_md-text.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
        </a>
        <a class="card-link">
            <img src="/assets/img/_ionicons_svg_md-share-alt.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
        </a>
      </div>
    </div>



    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" height="45" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@Yoshi</div>
                    <div class="h7 text-muted">Yoshi Wonderland</div>
                </div>
            </div>
            <span class="badge badge-primary only-right">Craft</span>
        </div>
      </div>

      <div class="card-body">
        <a class="card-link" href="#">
            <h5 class="card-title">Cool Craft</h5>
        </a>

        <p class="card-text">
            Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
        </p>

        <img class="card-img-top rounded-bottom img-responsive" src="/assets/img/no_photo_idea.png" style="max-width: 500px;" alt="???">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>20 min ago</div>

        <div>
            <span class="mr-3">
                <img src="/assets/img/rating-poor.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">5</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-soso.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">10</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-good.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">21</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-great.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">16</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-wow.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">7</span>
            </span>
        </div>
      </div>

      <div class="card-footer d-flex">
        <a class="d-flex align-items-center mr-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/img/_ionicons_svg_md-happy.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            <img src="/assets/img/right-arrow.png" width="14" height="14" class="d-inline-block align-top" alt="???">
        </a>

        <div class="collapse width mr-3" id="collapseExample">
            <div class="d-inline-block" style="width:290px;">
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-poor.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-soso.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-good.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary mr-3">
                    <img src="/assets/img/rating-great.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
                <a class="btn btn-outline-primary">
                    <img src="/assets/img/rating-wow.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                </a>
            </div>
        </div>

        <a class="card-link">
            <img src="/assets/img/_ionicons_svg_md-text.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
        </a>
        <a class="card-link">
            <img src="/assets/img/_ionicons_svg_md-share-alt.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
        </a>
      </div>
    </div>



    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" height="45" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@Star</div>
                    <div class="h7 text-muted">Star Light</div>
                </div>
            </div>
            <span class="badge badge-primary only-right">Craft</span>
        </div>
      </div>

      <div class="card-body">
          <a class="card-link" href="#">
              <h5 class="card-title">Cool Craft</h5>
          </a>

          <p class="card-text">
            Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
          </p>

          <img class="card-img-top rounded-bottom img-responsive" src="/assets/img/no_photo_idea.png" style="max-width: 500px;" alt="???">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>30 min ago</div>

        <div>
            <span class="mr-3">
                <img src="/assets/img/rating-poor.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">5</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-soso.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">10</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-good.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">21</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-great.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">16</span>
            </span>
            <span class="mr-3">
                <img src="/assets/img/rating-wow.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                <span class="badge badge-info">7</span>
            </span>
        </div>
      </div>

        <div class="card-footer d-flex">
            <a class="d-flex align-items-center mr-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="/assets/img/_ionicons_svg_md-happy.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
                <img src="/assets/img/right-arrow.png" width="14" height="14" class="d-inline-block align-top" alt="???">
            </a>

            <div class="collapse width mr-3" id="collapseExample">
                <div class="d-inline-block" style="width:290px;">
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-poor.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-soso.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-good.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-great.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary">
                        <img src="/assets/img/rating-wow.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                </div>
            </div>

            <a class="card-link">
                <img src="/assets/img/_ionicons_svg_md-text.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            </a>
            <a class="card-link">
                <img src="/assets/img/_ionicons_svg_md-share-alt.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            </a>
        </div>
    </div>




    <div class="card gedf-card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="mr-2">
                      <img class="rounded-circle" width="45" height="45" src="/assets/img/_ionicons_svg_md-contact.svg" alt="???">
                  </div>
                  <div class="ml-2">
                      <div class="h5 m-0">@Mushroom</div>
                      <div class="h7 text-muted">Miushroom Kingdom</div>
                  </div>
              </div>
              <span class="badge badge-primary only-right">Craft</span>
          </div>
        </div>
  
        <div class="card-body">
            <a class="card-link" href="#">
                <h5 class="card-title">Cool Craft</h5>
            </a>
  
            <p class="card-text">
              Recently, newly added online shopping to their site, which is pretty cool! But it looks like a lot of their knit and crochet patterns.
            </p>
  
            <img class="card-img-top rounded-bottom img-responsive" src="/assets/img/no_photo_idea.png" style="max-width: 500px;" alt="???">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>

            <div>
                <span class="mr-3">
                    <img src="/assets/img/rating-poor.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                    <span class="badge badge-info">5</span>
                </span>
                <span class="mr-3">
                    <img src="/assets/img/rating-soso.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                    <span class="badge badge-info">10</span>
                </span>
                <span class="mr-3">
                    <img src="/assets/img/rating-good.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                    <span class="badge badge-info">21</span>
                </span>
                <span class="mr-3">
                    <img src="/assets/img/rating-great.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                    <span class="badge badge-info">16</span>
                </span>
                <span class="mr-3">
                    <img src="/assets/img/rating-wow.png" width="34" height="46" class="d-inline-block align-top" alt="???">
                    <span class="badge badge-info">7</span>
                </span>
            </div>
        </div>
  
        <div class="card-footer d-flex">
            <a class="d-flex align-items-center mr-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="/assets/img/_ionicons_svg_md-happy.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
                <img src="/assets/img/right-arrow.png" width="14" height="14" class="d-inline-block align-top" alt="???">
            </a>
    
            <div class="collapse width mr-3" id="collapseExample">
                <div class="d-inline-block" style="width:290px;">
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-poor.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-soso.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-good.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary mr-3">
                        <img src="/assets/img/rating-great.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                    <a class="btn btn-outline-primary">
                        <img src="/assets/img/rating-wow.png" width="18" height="25" class="d-inline-block align-top" alt="???">
                    </a>
                </div>
            </div>
    
            <a class="card-link">
                <img src="/assets/img/_ionicons_svg_md-text.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            </a>
            <a class="card-link">
                <img src="/assets/img/_ionicons_svg_md-share-alt.svg" width="40" height="40" class="d-inline-block align-top" alt="???">
            </a>
        </div>
    </div>
</div>