<div class="align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-2">
    <h1 class="h2">General Settings</h1>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <td>Name</td>
        <td>Mushroom Kingdom</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary" disabled>Edit</button></td>
      </tr>
      
      <tr>
        <td>Nickname</td>
        <td>Mushroom</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary" disabled>Edit</button></td>
      </tr>

      <tr>
        <td>Username</td>
        <td>@Mushroom</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary" disabled>Edit</button></td>
      </tr>

      <tr>
        <td>Password</td>
        <td>xxxxxxx</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary">Edit</button></td>
      </tr>

      <tr>
        <td>Email</td>
        <td>mushroom@mushroom.com</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary">Edit</button></td>
      </tr>

      <tr>
        <td>Location</td>
        <td>Singapore</td>
        <td class="text-right"><button type="button" class="btn btn-outline-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <button type="submit" class="btn btn-primary" disabled>Save</button>
</div>